/* *** OGÓLNE *** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --max-width: 1352px;
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: var(--max-width);
    margin: 0 auto;
}

.btn {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);

}
.background__redish {
    background-color: var(--color-redish);
}

.background__primary {
    background-color: var(--color-primary);
}

.background__green {
    background-color: var(--color-green);
}

/* *** MENU *** */

.menu {
    background-color: var(--color-white);
    color: var(--main-contrast);
    position: absolute;
    height: 70px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 3px 6px #00000029;
}

.menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__logo {
    font-size: 2em;
    color: var(--color-primary);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.menu__ul {
    display: flex;
    height: 100%;
    align-items: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 3.28px;

}

.menu__ul li {
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu__ul a {
    position:relative;
    text-decoration: none;
    color: var(--color-grey);
    width: 100%;
    height: 100%;
    padding: 28px 12px 27px 12px;
    transition: 0.5s;
    border-bottom: 4px solid transparent;
    margin: 0 35.5px;
    cursor: pointer;
}

.menu__ul a:last-of-type {
    margin-right: 0;
}

.menu__ul a:hover  {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}


/* *** SCETION OPENING *** */

.opening {
    padding-top: 200px;
    position:relative;
}

.opening .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.opening h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    margin-bottom: 20px;
}

.opening p {
    margin-bottom: 38px;
}

.opening .btn {
    width: 440px;
    padding: 22px 0px 23px 0px;    
    font-size: 16px;
}

.opening__img {
    width: 100%;
    height: 594px;
    background-image: url(../assets/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -8px;

}

/* *** SCETION STATS *** */


.stats {
    background-color: var(--color-white);
    padding: 100px 0;
    text-align: center;
}

.stats .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.stats h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    margin-bottom: 100px;
}

.items {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.item__icon {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
}

.item__img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.item .item__img__shift {
   margin: auto -10px; 
}


.item__number {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    letter-spacing: 5.96px;
}

.item__desc {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    color: var(--color-grey);
    line-height: 20px;
    width: 120px;
}

/* *** SCETION BENEFITS *** */

.benefits {
    background-color: var(--color-light-grey);
    padding: 105px 0;
}

.benefits .container {
    width: 1124px;
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.benefit {
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    display: flex;
    gap: 170px;
    align-items: center;
    padding: 0px 0px 38px 0px;
}

.benefit-small {
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    height:100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.benefit-flex {
    flex-basis: 370px;
    display: flex;
    gap: 170px;
    align-items: center;
}

.benefit-flex__bottom {
    flex-basis: 370px;
    display: flex;
    gap: 61px;
    align-items: center;
}

.benefit h3, .benefit-small h3 {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    line-height: 42px;
    width: 300px;
}

.benefit__content {
    width: 440px;
}

.benefit__content__left {
    margin-left: 35px;
}

.benefit__content p {
    margin-top: 30px;
    line-height: 22px;
}

.benefit__content p.add-after::after {
    display: block;
    content: "";
    width: 328px;
    margin-top: 50px;
}

.benefit__content p.add-after__red::after {
border-bottom: 4px solid var(--color-redish);
}

.benefit__content p.add-after__blue::after {
    border-bottom: 4px solid var(--color-primary);
}

.benefit__content p.add-after__green::after {
    border-bottom: 4px solid var(--color-green);
}

.benefit__graphics img {
    width: 386px;
    position: inherit;
    z-index: 2;
}

.benefit__graphics {
    position: relative;
    align-self: flex-end;
}

.benefit__graphics__right {
    margin-right:117px;
}

.benefit__graphics__left {
    margin-left:70px;
}

.rounded__shape {
    background-color: var(--color-redish);
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 41px;
    transform: rotate(45deg);
    top:-50px;
    right:0;
    z-index: 0;
}

.blue__circle {
    background-color: var(--color-primary);
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    bottom:0;
    left:0;
    z-index: 0;
}

.benefit__trumpet {
    width: 440px;
    height: 100%;
    background-color: var(--color-green);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.benefit__trumpet img {
    width: 295px;
}



.pricing {
    background-color: var(--color-white);
    padding: 100px 0;
    text-align: center;
}

.pricing .container {
    width: 1266px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pricing h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    margin-bottom: 50px;
}

.pricing-blocks {
    display: flex;
    gap: 55px;
    justify-content: center;
    width:100%;
}

.pricing-item {
    width:100%;
    border: 1px solid #FB3B64;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 34px 0 80px 0;
    position: relative;
}

.pricing__title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 14px;
}

.pricing__amount {
    font-weight: 300;
    font-size: 46px;
}

.pricing__limited {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 14px;
}

.pricing ul {
    margin-top: 60px;
}

.pricing li {
    font-size: 14px;
    margin-bottom: 20px;
}

.pricing__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: var(--color-white);
    background-color: var(--color-redish);
    text-decoration: none;
    cursor: pointer;
    border-radius: 23px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

}