.footer {
  height: 89px;
  box-shadow: 0px -5px 40px #00000029;
  background: $color-light-grey;
  padding: 0 30px 0 17px;

  &__logo {
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 6px;
    color: $color-primary;
  }
  &__signature {
    font-size: 11px;
    color: $color-grey;
  }
  &__icons {
    .icon__first {
      margin-right: 20px;
    }
  }
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
  }
}